<h1>Listing prescriptions</h1>

<table>
  <tr>
    <th>Medicine name</th>
    <th>Dispense date</th>
    <th>Days supply</th>
    <th>Patient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prescriptions.each do |prescription| %>
  <tr>
    <td><%= prescription.medicine_name %></td>
    <td><%= prescription.dispense_date %></td>
    <td><%= prescription.days_supply %></td>
    <td><%= link_to prescription.patient.name, prescription.patient %></td>
    <td><%= link_to 'Show', prescription %></td>
    <td><%= link_to 'Edit', edit_prescription_path(prescription) %></td>
    <td><%= link_to 'Delete', prescription, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<p>
  Showing all prescriptions
</p>
<br />

