<p>
  <b>Medicine name:</b>
  <%= @prescription.medicine_name %>
</p>

<p>
  <b>Dispense date:</b>
  <%= @prescription.dispense_date %>
</p>

<p>
  <b>Days supply:</b>
  <%= @prescription.days_supply %>
</p>

<p>
  <b>Patient:</b>
  <%= @prescription.patient ? @prescription.patient.name : @prescription.patient %>
</p>


<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
