<h1>Listing patients</h1>

<table class="patient">
  <tr>
    <th>Name</th>
    <th>Prescriptions</th>
  </tr>

<% @patients.each do |patient| %>
  <tr id="<%=patient.name.downcase %>">
    <td><%= link_to patient.name, patient %></td>
    <td><%= patient.prescriptions.length %></td>
    <td><%= link_to 'Add Prescription', new_prescription_path(:patient => patient), %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patient', new_patient_path %>
