
<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <% if @patient.medicines_taken.empty?%>
        No medicines taken in the last 90 days.
      <% else %>
        <table class="prescriptions">
          <tr>
          <th>Medicine Name</th><th>Days taken (last 90 days)</th>
          </tr>
        <% @patient.medicines_taken.each do |medicine_name| %>
          <tr id="<%= row_id(medicine_name) %>">
            <td><%= medicine_name %></td><td><%= @patient.days_taken(medicine_name, 90).length %></td>
          </tr>
        <% end %>
        </table>
      <% end %>
      <p>
        <%= link_to "View All Prescriptions", prescriptions_path(:patient => @patient) %>
      </p>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @patient.name %><br />
      <strong>URL</strong>  <%= link_to patient_path(@patient), @patient %>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'All Patients', patients_path %>
