<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @patient.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @patient.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@patient), @patient %>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
